*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 10px 10px;
}
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: hsla(33, 92%, 5%, 0.762);
  width: 450px;
  border-radius: 7px;
  
}
.btn{
  text-align: center;
  padding: 30px 0;
  
}
.btn button{
  background-color: rgb(48, 46, 46);
  padding: 17px 40px ;
  border: none;
  color: white;
}
.on{
  background-color: rgb(193, 128, 37) !important;

}
form, .form{
text-align: center;
padding: 0px 40px 40px 40px ;

}
form h1, .form h1{
  color: white;
  font-size: 30px ;
}
form input, .form input{
  width: 90%;
  margin: 8px;
  padding: 10px 10px;
  background-color: hsla(32, 70%, 9%, 0.51);
  border: 1px rgb(84, 82, 82) solid;
  color: white;
}
.name{
  display: flex;
  padding: 0 11px;
}
#signupsubmit{
  background-color: rgb(193, 128, 37);
  width: 80%;
}
#loginForm{
  display: none;
}
#loginsubmit{
  background-color: rgb(193, 128, 37);
  width: 80%;
  padding: 16px 10px;
  border: 1px rgb(97, 94, 94) solid;
  color: white;
}
#signupdemo1,#signupdemo2,#signupdemo3,#signupdemo4,#logindemo4,#logindemo3{
  display: none ;
  color: rgb(174, 68, 68);
  text-align: left !important;
  padding: 0 20px;
  font-size: 13px;

}
